body {
    background-color: lightskyblue;
}

p, ul, li {
    font-family: Helvetica, Arial, sans-serif;
}

h {
    font-family: Helvetica, Arial, sans-serif;
}

button {
    background-color: lavender;
    color: black;
}
